
h1{
    text-align: center;
    color:#405558;

}
h2{
    text-align: center;
    padding:0px;
    color:#7d6042;
}

p.Privacy{
    padding-left:10%;
    padding-right: 10%
}
p.center{
text-align: center;
}
p{
    font-size: 1.25em;
}
footer{
    padding-left: 5%;
    padding-right:5%;
    padding-bottom: 2%;font-style: italic;
}
p.footer{
    font-size:1em;
}
ul{
    padding-left:12%;
    padding-right: 10%;
    font-size:1.25em;
}

img.food{
    margin-left:auto;
    margin-right:auto;
    max-width:100%;
    padding: 5%;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width:30%;
}
.map-responsive{
    overflow:hidden;
    padding-bottom:30%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
.responsiveCal {
    position: relative; padding-bottom: 75%; height: 0; overflow: hidden;
} 
.responsiveCal iframe {
    position: absolute; top:0; left: 0; width: 100%; height: 100%;
}
